.table-container {
    display: flex;
    flex-direction: row;
}

.pivot-table-container{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.data-table-container {
    flex: 1;
    height: inherit;
}
.data-table .MuiDataGrid-row {
    /* height: 50px; Set the height of each row to 75 pixels */
}