.table-container {
    display: flex;
    flex-direction: row;
    height: 435px; /* Adjust the height as needed */
}

.pivot-table-container {
    flex: 1;
    display: flex;
}
.data-table-container .rdt_Table{
    flex: 1;
    height: 100%;
    margin-top: 3px;
}